* 
    margin: 0
    padding: 0
    box-sizing: border-box
    list-style-type: none
    list-style: none
    font-family: 'Roboto', sans-serif
    

body
    background-color: white 

.App
    max-width: 1120px
    display: flex
    flex-direction: column


#root
    display: flex
    justify-content: center

// Header Component 
header
    display: flex 
    justify-content: space-between
    align-items: center

// App Component
$mobile: 320px
$tab: 768px
$large-tab: 1024px
$desktop: 1366px

// Media queries
// From mobile width to 500px
@media screen and (min-width: $mobile) and (max-width: 500px)
    .App
        margin: 25px 20px 34px
    .nav-list
        gap: 15px
        flex-direction: column
    .paintings-container
        grid-template-columns: repeat(1, 1fr)
    .painting-container
        border-radius: 0px 0px 18px 18px
    .nav-list
        margin: 25px 0px 45px 0px

// I think it's optional(from 500px), but I do it anyway.
// I would be make 2 columns, but it's buggy, text overlay and etc.
// So I glad to find simple solution for it :D - large low res painting XD
@media screen and (min-width: 500px) and (max-width: $tab - 1)
    *
        font-size: 0.7rem
    .App
        margin: 35px 34px 54px
    .paintings-container
        grid-template-columns: repeat(2, 1fr)
    .input-fields 
        flex-direction: column
        gap: 15px
// From tab to large-tab
@media screen and (min-width: $tab) and (max-width: $large-tab)
    .App
        margin: 35px 34px 54px
    .paintings-container
        grid-template-columns: repeat(2, 1fr)
    .input-fields 
        flex-direction: column
        gap: 15px
// From large-tab to desktop
@media screen and (min-width: $large-tab) and (max-width: $desktop)
    .App
        margin: 35px 42px 97px
    .input-field
        width: 95px

// Finally, from desktop to infinite scale
@media screen and (min-width: $desktop)
    .App
        margin: 35px auto 97px
    .input-field
        width: 95px